<div id="inquiery_form__overlay_wechat">
  <a href="javascript:void(0);" class="close-overlay" onclick="toggleInquieryFormWechat()"></a>
  <div class="header__navigation__logo header__navigation__logo--default">
    <a href="{{ '/' | absolute_url }}">
      <img src="../assets/images/Zarahlogo-grey.png" width="50" alt="Logo">
    </a>
  </div>

  <div class="main_overlay">
    <div class="overlay_header">
      <p class="overlay__title__copy">Wechat</p>
      <p class="introduction__copy">Scan Wechat code to follow us!</p>
      <img class="wechat__scan" src="../assets/images/Zarah_Wechat_QR.png" alt="Zarah Wechat QR">
    </div>
  </div>
</div>
