$font-stack:  "Century Gothic", "CenturyGothic",  Helvetica, Arial, "圆体", "Yuanti SC", sans-serif;
$primary-color: #9C0500;
$superdark-grey: #2b2a2a;
$dark-grey: #908D8D;
$mid-grey: #C2BEBE;
$light-grey: #C2BEBE;
