/**/
/* Inquiery form */
/**/

.main_overlay {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 0 15px 0 15px;

    .overlay_header {
      grid-column: 1/13;

        .introduction__copy {
          font-size: 0.875em;
          text-transform: uppercase;
          text-align: center;
          line-height: 1.7;
          margin: 0;
          color: $dark-grey;
          font-weight: normal;

          @media (min-width: 992px) {
            font-size: 1em;
          }
        }
    }
}

.overlay__title__copy {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.6em;
  color: black;
  font-weight: bold;

  @media (min-width: 768px) {
    font-size: 4em;
  }

  @media (min-width: 992px) {
    font-size: 5em;
  }

  @media (min-width: 1200px) {
    font-size: 6.250em;
  }
}

#inquiery_form__overlay_events,
#inquiery_form__overlay_exhibitions,
#inquiery_form__overlay_wechat {
display: none;
width: 100%;
height: 100%;
font-size: 1.2em;
text-align: center;
font-weight: bold;
position: fixed;
overflow-y: scroll;
top: 0;
left: 0;
background-color: white;
z-index: 2000;
}

.inquiery-form {
  font: 100% $font-stack;
  line-height: 1.5;
  font-size: 0.875em;
  grid-column: 1/13;
  margin-bottom: 32px;

  @supports not (display: grid) {
    width: calc(100% - 30px);
    display: flex;
  }

  @media (min-width: 768px) {
    grid-column: 2/12;
  }

  @media (min-width: 992px) {
    grid-column: 3/11;
  }

  @media (min-width: 1200px) {
    grid-column: 4/10;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      width: 100%;
    }

    label {
      margin-top: 8px;
      margin-bottom: 4px;
      text-align: left;
    }

    .first_label {
      margin-top: 0px;
    }

    input,
    textarea,
    select {
      border: 1px solid black;
      padding-left: 4px;
      font-family: $font-stack;
    }

    select {
      padding: 0;
    }

    input {
      height: 30px;
      padding-left: 4px;
    }

    textarea {
      height: 250px;
      resize: none;
      padding-left: 4px;
    }

    #timefrom,
    #timeto {
      height: 30px;
      background-color: white;
      width: calc(50% - 15px);
      -webkit-border-radius: 0;
    	border: 0;
    	outline: 1px inset #000;
    }

    #timefrom {
      float: left;
    }

    #timeto {
      float: right;
    }

    button {
      width: fit-content;
    }

    .hint {
      font-size: 0.7em;
      text-align: left;
      margin-top: -4px;
      margin-bottom: 4px;
    }
  }
}

.wechat__scan {
  margin-left:auto;
  margin-right:auto;
  display:block;
  padding: 0 15px 0 15px;
  width: 20em;
}