<div id="inquiery_form__overlay_exhibitions">
  <a href="javascript:void(0);" class="close-overlay" onclick="toggleInquieryFormExhibitions()"></a>
  <div class="header__navigation__logo header__navigation__logo--default">
    <a href="{{ '/' | absolute_url }}">
      <img src="../assets/images/Zarahlogo-grey.png" width="50" alt="Logo">
    </a>
  </div>

  <div class="main_overlay">
    <div class="overlay_header">
      <p class="overlay__title__copy">摄影展咨询</p>
      <p class="introduction__copy">请尽量提供信息</p>
    </div>
    <div class="inquiery-form">
      <form id="inquiery" action="" method="post">
        <label for="name">联系人*</label>
        <input id="name" tabindex="6" required>
        <label for="phone">联系电话号码/label>
        <input id="phone" type="tel" tabindex="7">
        <label for="email">电子邮件*</label>
        <input id="email" type="email" tabindex="8" required>
        <label for="details">信息*</label>
        <p class="hint">请您让我们多了解您要般的摄影展，给我们发您的照片的链接。</p>
        <textarea id="details" tabindex="5" required></textarea>
        <button class="button--primary" name="submit" type="submit" id="inquiery-submit" data-submit="...Sending">发送咨询</button>
       </form>
    </div>
  </div>
</div>
