---
layout: default
---
{% include header_overview.html %}

<div class="title">
  <img class="title__img" src="../assets/images/Music_Zarah.jpg" alt="header" style="width:100%;">
  <h1 class="title__copy">{{ page.title_copy }}</h1>
</div>

<main class="events-content">
  <div class="introduction">
    <p class="introduction__copy">
      {{ page.introduction_copy }}
    </p>
  </div>

  <div class="events">
    <div class="events">
    <h2>
      {{ page.music_headline }}
    </h2>

    <div class="events-gallery">
      <a href="https://podcasts.apple.com/cn/podcast/straßenbahn-im-winterregen2020mix-by-zhanglin/id1494156908?i=1000462906024">
        <div class="events-gallery-container">
          <div class="events-gallery-container-img">
            <img class="events-gallery-container-img__image" src="../assets/images/ZarahMusic_1.jpg" />
          </div>
          <div class="events-gallery-container-text">
            <div class="events-gallery-container-text__type">Zhanglin</div>
            <div class="events-gallery-container-text__title">Strassenbahn im Winterregen</div>
          </div>
        </div>
      </a>
      <a href="https://www.lizhi.fm/1921716/5054220121761299974">
        <div class="events-gallery-container">
          <div class="events-gallery-container-img">
            <img class="events-gallery-container-img__image" src="../assets/images/ZarahMusic_2.jpg" />
          </div>
          <div class="events-gallery-container-text">
            <div class="events-gallery-container-text__type">Zhanglin</div>
            <div class="events-gallery-container-text__title">Zarah in the Club</div>
          </div>
        </div>
      </a>
      <a href="https://www.lizhi.fm/1921716/2703400539291810822">
        <div class="events-gallery-container">
          <div class="events-gallery-container-img">
            <img class="events-gallery-container-img__image" src="../assets/images/ZarahMusic_3.jpg" />
          </div>
          <div class="events-gallery-container-text">
            <div class="events-gallery-container-text__type">Huang Weiwei</div>
            <div class="events-gallery-container-text__title">HuangWeiwei@Cafe Zarah</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="events">
    <div class="events">
    <h2>
      {{ page.dj_headline }}
    </h2>

    <div class="events-gallery">
      <a href="https://podcasts.apple.com/cn/podcast/straßenbahn-im-winterregen2020mix-by-zhanglin/id1494156908?i=1000462906024">
        <div class="events-gallery-container">
          <div class="events-gallery-container-img">
            <img class="events-gallery-container-img__image" src="../assets/images/DJ_Zhanglin.jpg" />
          </div>
          <div class="events-gallery-container-text">
            <div class="events-gallery-container-text__title">Zhanglin</div>
          </div>
        </div>
      </a>
      <a href="https://www.lizhi.fm/1921716/5054220121761299974">
        <div class="events-gallery-container">
          <div class="events-gallery-container-img">
            <img class="events-gallery-container-img__image" src="../assets/images/DJ_Huangweiwei.jpg" />
          </div>
          <div class="events-gallery-container-text">
            <div class="events-gallery-container-text__title">Huang Weiwei</div>
          </div>
        </div>
      </a>
      <a href="https://www.lizhi.fm/1921716/2703400539291810822">
        <div class="events-gallery-container">
          <div class="events-gallery-container-img">
            <img class="events-gallery-container-img__image" src="../assets/images/DJ_1wan.jpg" />
          </div>
          <div class="events-gallery-container-text">
            <div class="events-gallery-container-text__title">DJ 1wan</div>
          </div>
        </div>
      </a>
    </div>
  </div>
    
</main>
